<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    {% block head %}
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/persona-buttons.css" />
    {% endblock %}
  </head>
<body>
  {% block container %}
  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>
  {% endblock %}
  {% block scripts %}
  <script src="https://login.persona.org/include.js"></script>
  <script src="bower_components/leaflet/dist/leaflet.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  {% endblock %}
</body>
</html>
